<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.springcloud.stockcrawler.dbdao.FundingBaseInfoDao" >
    <resultMap id="BaseResultMap" type="com.github.springcloud.stockcrawler.dbentity.FundingBaseInfoEntity" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="fund_code" property="fundCode" jdbcType="VARCHAR" />
        <result column="funding_time" property="fundingTime" jdbcType="DATE" />
        <result column="assets_scale" property="assetsScale" jdbcType="DECIMAL" />
        <result column="fund_type" property="fundType" jdbcType="VARCHAR" />
        <result column="fund_manager" property="fundManager" jdbcType="VARCHAR" />
        <result column="fund_company" property="fundCompany" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="record_time" property="recordTime" jdbcType="DATE" />
    </resultMap>

    <select id="selectOneByFundCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        sbi.*
        FROM
        financial_funding_base_info sbi where sbi.fund_code = #{fundCode,jdbcType=VARCHAR}
    </select>

    <select id="selectDatasByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT sbi.* FROM financial_funding_base_info sbi where sbi.name like CONCAT('%',#{name},'%')
    </select>

    <select id="selectDatasByCompany" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT sbi.* FROM financial_funding_base_info sbi where sbi.fund_company like CONCAT('%',#{fundCompany},'%')
    </select>
</mapper>