<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.springcloud.stockcrawler.dbdao.StockDailyMentalInfoDao" >
    <resultMap id="BaseResultMap" type="com.github.springcloud.stockcrawler.dbentity.StockDailyMentalInfoEntity" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR" />
        <id column="stock_code" property="stockCode" jdbcType="VARCHAR" />
        <result column="pe_ttm" property="pe_ttm" jdbcType="DECIMAL" />
        <result column="d_pe_ttm" property="d_pe_ttm" jdbcType="DECIMAL" />
        <result column="pb" property="pb" jdbcType="DECIMAL" />
        <result column="pb_wo_gw" property="pb_wo_gw" jdbcType="DECIMAL" />
        <result column="ps_ttm" property="ps_ttm" jdbcType="DECIMAL" />
        <result column="dividend_r" property="dividend_r" jdbcType="DECIMAL" />
        <result column="market_value" property="market_value" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="DATE" />
        <result column="date" property="date" jdbcType="DATE" />
        <result column="crawled" property="crawled" jdbcType="INTEGER" />
    </resultMap>

    <select id="findAllByStockCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT * FROM financial_stock_daily_mental_info where stock_code = #{stockCode} ORDER BY date ASC
    </select>

    <select id="findAllByStockCodeAndDate" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM financial_stock_daily_mental_info where stock_code = #{stockCode} and CAST(date AS DATE) <![CDATA[<= ]]> #{date} ORDER BY date ASC
    </select>

    <update id="updateCrawledByStockCode" parameterType="java.util.Map">
        UPDATE financial_stock_daily_mental_info SET crawled = #{crawled} WHERE stock_code = #{stockCode}
    </update>

    <insert id="batchInsertList" parameterType="java.util.List">
        INSERT INTO financial_stock_daily_mental_info(id,stock_code,pe_ttm,d_pe_ttm,pb,pb_wo_gw,ps_ttm,dividend_r,market_value,create_time,date,crawled) VALUES
        <foreach collection="list" item="fsdmi" index="index" separator=",">
            (#{fsdmi.id},#{fsdmi.stockCode},#{fsdmi.pe_ttm},#{fsdmi.d_pe_ttm},#{fsdmi.pb},#{fsdmi.pb_wo_gw},#{fsdmi.ps_ttm},#{fsdmi.dividend_r},#{fsdmi.market_value},#{fsdmi.createTime},#{fsdmi.date},#{fsdmi.crawled})
        </foreach>
    </insert>
</mapper>