<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.springcloud.stockcrawler.dbdao.StockBaseInfoDao" >
    <resultMap id="BaseResultMap" type="com.github.springcloud.stockcrawler.dbentity.StockBaseInfoEntity" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="stock_code" property="stockCode" jdbcType="VARCHAR" />
        <result column="stock_name" property="stockName" jdbcType="VARCHAR" />
        <result column="stock_type" property="stockType" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="DATE" />
        <result column="listed_time" property="listedTime" jdbcType="DATE" />
        <result column="delist" property="delist" jdbcType="INTEGER" />
    </resultMap>

    <select id="selectOneByStockCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        sbi.*
        FROM
        financial_stock_base_info sbi where sbi.stock_code = #{stockCode,jdbcType=VARCHAR}
    </select>

    <select id="selectDatasByStockName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT sbi.* FROM financial_stock_base_info sbi where sbi.stock_name like CONCAT('%',#{stockName},'%')
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO financial_stock_base_info(id,stock_code,stock_name,stock_type,create_time,listed_time,delist) VALUES
        <foreach collection="list" item="fsbi" separator=",">
            (#{fsbi.id},#{fsbi.stockCode},#{fsbi.stockName},#{fsbi.stockType},#{fsbi.createTime},#{fsbi.listedTime},#{fsbi.delist})
        </foreach>
    </insert>

    <update id="batchUpdateDelistByStockCodes" parameterType="java.util.Map">
        UPDATE financial_stock_base_info SET delist = #{delist} WHERE stock_code IN 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>